<html>
<head>
  <title>BMI</title>
</head>
<body>
  <h2>BODY MASS INDEX</h2>
  
  <form>
    <h4>BMI Calculator</h4>
    <label>Weight</label><br>
    <input id="weight" type="text" placeholder="Your weight in kilograms" />
    <br />
    <br />
    <label>Height</label><br>
    <input id="height" type="text" placeholder="Your height in meters" />
    <br />
    <br />          
    <p><input type="radio"> Male</p>
    <p><input type="radio"> Female</p>
    <input class = "submit" type="button"  value="Submit" onclick="bmi()" />
  </form>
</body>

</html>

